:root {
  --theme-purple: #312783;
  --text-grey: #636363;
}
body {
  background-color: #fff;
  font-family: "Inter", sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  font-size: 14px;
  color: var(--text-grey);
}
.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}
.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.theme-clr {
  color: var(--theme-purple) !important;
}
.bg-theme {
  background-color: var(--theme-purple) !important;
}
p {
  font-size: 14px;
  font-weight: 400;
}
.theme-container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
}
.theme-nav {
  padding: 15px 0;
}
.theme-nav .logo {
  width: 110px;
}
.theme-nav ul li {
  display: inline-block;
  margin-right: 20px;
}
.theme-nav ul li a {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  color: var(--text-grey);
}
.theme-nav ul li a:hover {
  color: var(--theme-purple);
}
.theme-nav .btn_ {
  background-color: var(--theme-purple);
  color: white;
  border-radius: 25px;
  padding: 3px 13px;
  transition: 0.2s all;
}
.theme-nav .btn_:hover {
  color: white;
  transform: scale(1.1);
}
.theme-banner {
  background-image: url(../images/banner-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  position: relative;
}
.theme-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
}
.theme-banner h1 {
  font-weight: 700;
  font-size: 40px;
}
.theme-banner h2 {
  font-size: 22px;
  margin-bottom: 10px;
}
button.whatstapp {
  padding: 10px 22px;
  background: #5abe70;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 32px;
  color: white;
  border: none;
}
section.py {
  padding: 50px 0;
}
h1.heading {
  text-align: center;
  color: var(--theme-purple);
  font-family: "Poppins";
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
h2.heading {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 16px;
}
.line {
  width: 200px;
  height: 2px;
  background-color: var(--theme-purple);
  margin-bottom: 50px;
  margin-inline: auto;
}
.max-width-1000 {
  max-width: 1000px;
}
.choose-us-card {
    position: relative;
    height: 280px;
}
.choose-us-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 1px;
    background-color: white;
}
.choose-us-card img {
  width: 75px;
  height: 75px;
}
.choose-us-card h3 {
  margin: 13px 0 9px;
  font-size: 19px;
}
.choose-us-card p {
  max-width: 300px;
  margin: 0 auto 0;
  font-weight: 300;
}
.swiper-button-next,
.swiper-button-prev {
  top: inherit !important;
  bottom: 0;
}
.swiper-button-next {
  transform: translateX(-50%);
  right: inherit !important;
  left: 51% !important;
}
.swiper-button-prev {
  transform: translateX(-50%);
  right: 51% !important;
  left: inherit !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
  font-size: 25px !important;
  font-weight: 800 !important;
}
.theme-simple-slider .swiper-wrapper {
  padding-bottom: 100px;
}
